table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

body {
    background-color: #FFF4EA;
    font-family: sans-serif;
    margin: 0;
}
.container {
    margin-right: 60px;
    margin-top: 50px;  
    margin-left: 300px; 
    flex-grow: 1;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Background color for the header */
    z-index: 10; /* Ensure the header is above other content */
}

